vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Aug 2006 16:52:10 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|ClarkLab\\ Site/groupinfo.html ClarkLab\\ Site/research.html ClarkLab\\ Site/GroupMembersPages/DouglasClark.html ClarkLab\\ Site/GroupMembersPages/RossEppler.html ClarkLab\\ Site/biocatalytic.html ClarkLab\\ Site/extremophiles.html ClarkLab\\ Site/GroupMembersPages/UmarAkbar.html ClarkLab\\ Site/GroupMembersPages/PaulHudson.html ClarkLab\\ Site/GroupMembersPages/JessicaRyan.html ClarkLab\\ Site/GroupMembersPages/TimLogan.html ClarkLab\\ Site/GroupMembersPages/TimWhitehead.html ClarkLab\\ Site/extremozymes1.html ClarkLab\\ Site/GroupMembersPages/MattTraylor.html ClarkLab\\ Site/groupmembers.html ClarkLab\\ Site/index.html ClarkLab\\ Site/extremozymes.html ClarkLab\\ Site/GroupMembersPages/AnandRamasubramanian.html ClarkLab\\ Site/GroupMembersPages/BoonchaiBoonyaratanakornkit.html ClarkLab\\ Site/GroupMembersPages/LisaBergeron.html
vti_author:SR|PAUL\\Paul
vti_modifiedby:SR|PAUL\\Paul
vti_timecreated:TR|21 Aug 2006 16:52:10 -0000
vti_cacheddtm:TX|21 Aug 2006 16:52:10 -0000
vti_filesize:IR|160
vti_lineageid:SR|{C5748E92-6419-465C-9044-B37DDEBAB465}
